@use 'purecss/build/base.css';
@use 'purecss/build/grids.css';
@use 'purecss/build/grids-responsive.css';
@use '../_partials/color-scheme';
@use '../_partials/pure';

@mixin with-lg-proportional-property($property-name, $base-property-value) {
  #{$property-name}: $base-property-value;
  @include pure.pure-u-lg {
    #{$property-name}: #{$base-property-value * 1.25};
  }
}

@mixin drop-shadow {
  filter: drop-shadow(0.15rem 0.15rem rgba(127, 127, 127, 0.5));
  @include pure.pure-u-lg {
    filter: drop-shadow(0.1875rem 0.1875rem rgba(127, 127, 127, 0.5));
  }
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

.coox-resume-container {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  @include color-scheme.default-to-dark-mode(
    $property-color-schemes: (
      (background-color, #333, #ccc),
    )
  );

  padding: 0;
  @include pure.pure-u-sm {
    padding: 1rem;
  }

  .coox-resume {
    border: 0;
    @include pure.pure-u-sm {
      border-width: 0.125rem;
      border-style: solid;
    }

    @include color-scheme.default-to-dark-mode(
      $property-color-schemes: (
        (border-color, #999, #666),
      )
    );

    .coox-resume-header {
      border-bottom-width: 0.125rem;
      border-bottom-style: solid;
      padding: 1.5rem;

      @include color-scheme.default-to-dark-mode(
        $property-color-schemes: (
          (background-color, #080808, #f8f8f8),
          (border-color, #999, #666),
          (color, #eee, #111),
        )
      );

      .coox-resume-header-top {
        /*
          Padding for media queries narrower than “sm” sizes
          is applied at the bottom of social network icons.
          Padding for media queries with “sm” sizes or wider
          is applied at the bottom of text.
        */
        padding-bottom: 0.75rem;
        @include pure.pure-u-sm {
          padding-bottom: 0;
        }
      }

      h1 {
        @include with-lg-proportional-property(font-size, 1.75rem);
      }

      h2 {
        @include with-lg-proportional-property(font-size, 1.25rem);
        @include with-lg-proportional-property(padding-bottom, 0.5rem);
      }

      .coox-resume-header-infos {
        list-style-type: none;
        margin: 0;
        padding: 0;

        @include with-lg-proportional-property(font-size, 1rem);

        .coox-resume-header-info {
          display: block;
          @include pure.pure-u-sm {
            display: inline-block;
          }

          .coox-resume-header-info-link,
          .coox-resume-header-info-link:visited,
          .coox-resume-header-info-link:hover,
          .coox-resume-header-info-link:active {
            text-decoration: none;
          }

          .coox-resume-header-info-link {
            .coox-resume-header-info-icon,
            .coox-resume-header-info-icon:visited,
            .coox-resume-header-info-icon:hover,
            .coox-resume-header-info-icon:active {
              @include color-scheme.default-to-dark-mode(
                $property-color-schemes: (
                  (fill, #555, #aaa),
                )
              );
            }

            .coox-resume-header-info-text,
            .coox-resume-header-info-text:visited,
            .coox-resume-header-info-text:hover,
            .coox-resume-header-info-text:active {
              @include color-scheme.default-to-dark-mode(
                $property-color-schemes: (
                  (color, #ccc, #333),
                )
              );
            }

            .coox-resume-header-info-text:hover,
            .coox-resume-header-info-text:active {
              @include drop-shadow;
            }
          }

          .coox-resume-header-info-icon {
            vertical-align: bottom;

            @include with-lg-proportional-property(height, 1rem);
            @include with-lg-proportional-property(padding-right, 0.03125rem);
            @include with-lg-proportional-property(width, 1rem);

            @include color-scheme.default-to-dark-mode(
              $property-color-schemes: (
                (fill, #555, #aaa),
              )
            );
          }

          .coox-resume-header-info-text {
            padding-right: 0.5rem;

            @include color-scheme.default-to-dark-mode(
              $property-color-schemes: (
                (color, #ccc, #333),
              )
            );
          }
        }
      }

      .coox-resume-header-social-networks {
        font-size: 0;
        line-height: 0;
        margin: 0;
        padding: 0;

        text-align: left;
        @include pure.pure-u-sm {
          text-align: right;
        }

        .coox-resume-header-social-network {
          display: inline-block;

          .coox-resume-header-social-network-link {
            .coox-resume-header-social-network-icon,
            .coox-resume-header-social-network-icon:visited,
            .coox-resume-header-social-network-icon:hover,
            .coox-resume-header-social-network-icon:active {
              @include color-scheme.default-to-dark-mode(
                $property-color-schemes: (
                  (fill, #ccc, #333),
                )
              );
            }

            .coox-resume-header-social-network-icon:hover,
            .coox-resume-header-social-network-icon:active {
              @include drop-shadow;
            }
          }

          .coox-resume-header-social-network-icon {
            padding-left: 0;
            padding-right: 0.5rem;

            @include pure.pure-u-lg {
              padding-left: 0.625rem;
              padding-right: 0rem;
            }

            @include with-lg-proportional-property(height, 2rem);
            @include with-lg-proportional-property(width, 2rem);
          }
        }
      }
    }

    .coox-resume-main {
      padding: 1.5rem;

      @include color-scheme.default-to-dark-mode(
        $property-color-schemes: (
          (background-color, #111, #eee),
          (color, #eee, #111),
        )
      );
    }
  }
}

// .resume {
//   background: #e0e0e0;
//   margin: 0 auto;
//   max-width: 60em;
//   padding: 1em 1em;
//   font-size: 0.85em;
// }

// .resume h1,
// h2,
// h3 {
//   margin-bottom: 0;
// }

/*.headline {
    margin-bottom: 1em;
}

.coox-resume-header-infos {
    float: right;
    font-size: 1.6em;
    line-height: 1.6em;
}
*/

// .summary {
//   padding: 0 1em;
//   font-size: 1.11em;
//   color: #666;
//   margin-bottom: 1em;
// }

// .job {
//   margin-bottom: 1em;
// }
// .timeframe {
//   font-style: italic;
//   color: #666;
// }
// .description {
//   color: #555;
// }
// .description p {
//   margin: 0.75em 0 1em 0;
// }
// .keywords {
//   margin: 0;
//   padding: 0;
// }
// .keyword {
//   display: inline-block;
//   font-size: 0.8em;
//   color: #666;
//   background: #eee;
//   padding: 2px;
//   border: 2px transparent;
//   border-radius: 2px;
//   margin-right: 0.25em;
// }
