html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  transition: background-color 5s;
  width: 100%;

  /* Default to dark mode */
  background-color: #333;
  @media (prefers-color-scheme: light) {
    background-color: #ccc;
  }
}

.coox-hero {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin: 0;
  padding: 0;
  position: absolute;
  text-align: center;
  width: 100%;

  .coox-hero-title {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
      sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-size: 20vw;
    line-height: 30vw;
    margin: 0;
    padding-bottom: 2vw;
    transition: color 5s;
    z-index: 1;

    /* Default to dark mode */
    color: #ccc;
    @media (prefers-color-scheme: light) {
      color: #333;
    }
  }
}

.coox-wave-strip-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: absolute;
  width: 100%;

  .coox-wave-strip {
    height: 100%;
    transition: border-color 5s, height 1s;
    width: 100%;

    /* Default to dark mode */
    border-bottom: 1vw solid #aaa;
    border-top: 1vw solid #aaa;
    @media (prefers-color-scheme: light) {
      border-bottom: 1vw solid #666;
      border-top: 1vw solid #666;
    }
  }

  .coox-wave-strip-color-computer {
    height: 0;
    line-height: 0;
    margin: 0;
    padding: 0;
    transition: background-color 5s, color 1s;
    width: 0;

    /* Default to dark mode */
    background-color: #111;
    color: #777;
    @media (prefers-color-scheme: light) {
      background-color: #eee;
      color: #999;
    }
  }
}
