@@include(front-matter('../../front-matter/resume/index.json')) {% extends "_partials/_base.html" %} {% block styles %}
<link rel="stylesheet" href="../resume/index.css" />
<link rel="stylesheet" media="print" href="../resume/index-print.css" />
{% endblock %} {% block title %}<title>{{ resume.basics.name }} — Résumé</title>{% endblock %} {% block body %}
<body class="resume-container">
  <article class="resume">
    <header class="resume-header">
      <section class="resume-header-top pure-g">
        <h1 class="pure-u-1-2">{{ resume.basics.name }}</h1>
        <ul class="resume-header-social-networks pure-u-1-2">
          {% set svgBasePath = "../../node_modules/@fortawesome/fontawesome-free/svgs" %} {% set svgPathByNetwork = {
          "GitHub": "brands/github.svg" ,"Stack Overflow": "brands/stack-overflow.svg" ,"Twitter": "brands/twitter.svg",
          "LinkedIn": "brands/linkedin.svg" } %} {% for profile in resume.basics.profiles %}
          <li class="resume-header-social-network">
            <a
              class="resume-header-social-network-link"
              href="{{ profile.url }}"
              data-print-text="{{  profile.printText }}"
              title="{{ resume.basics.name }}{% if profile.username %} ({{ profile.username }}){% endif %} on {{ profile.network }}"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img
                class="resume-header-social-network-icon"
                src="{{ svgBasePath }}/{{ svgPathByNetwork[profile.network] }}"
              />
            </a>
          </li>
          {% endfor %}
        </ul>
      </section>
      <h2>{{ resume.basics.label }}</h2>
      <ul class="resume-header-infos">
        {% set countryNameByCountryCode = { "FR": "France" } %} {% set locationCountryName =
        countryNameByCountryCode[resume.basics.location.countryCode] %}
        <li class="resume-header-info">
          <a
            class="resume-header-info-link"
            href="mailto:{{ resume.basics.email }}"
            title="Send an e-mail"
            rel="noopener noreferrer"
          >
            <img
              class="resume-header-info-icon"
              src="../../node_modules/@fortawesome/fontawesome-free/svgs/regular/envelope.svg"
            />
            <span class="resume-header-info-text">{{ resume.basics.email }}</span>
          </a>
        </li>
        {% for locationLink in resume.basics.location.links %}
        <li class="resume-header-info">
          <a
            class="resume-header-info-link"
            href="{{ locationLink.url }}"
            title="{{ resume.basics.location.city }}, {{ locationCountryName }} on {{ locationLink.site }}"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img
              class="resume-header-info-icon"
              src="../../node_modules/@fortawesome/fontawesome-free/svgs/solid/map-marker-alt.svg"
            />
            <span class="resume-header-info-text">{{ resume.basics.location.city }}, {{ locationCountryName }}</span>
          </a>
        </li>
        {% endfor %} {% for timezoneLink in resume.basics.timezone.links %}
        <li class="resume-header-info">
          <a
            class="resume-header-info-link"
            href="{{ timezoneLink.url }}"
            title="{{ resume.basics.timezone.name }} on Time.is"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img
              class="resume-header-info-icon"
              src="../../node_modules/@fortawesome/fontawesome-free/svgs/regular/clock.svg"
            />
            <span class="resume-header-info-text">{{ resume.basics.timezone.name }}</span>
          </a>
        </li>
        {% endfor %}
      </ul>
      <aside class="resume-headline">
        {% for headlineParagraph in resume.headline %}
        <p>{{ headlineParagraph }}</p>
        {% endfor %}
      </aside>
    </header>

    <main class="resume-main">
      <section class="resume-section-work-experience">
        <header class="resume-section-top">
          <h1>Work Experience</h1>
        </header>
        <article class="resume-work-experience">
          {% for work in resume.work %}
          <article class="resume-work">
            <h2>
              <span class="resume-work-position">{{ work.position }}</span>
              {% if work.employer.name %} · {% if work.employer.website %}
              <a
                class="resume-work-employer-name"
                href="{{ work.employer.website }}"
                title="{{ work.employer.name }}"
                target="_blank"
                rel="noopener noreferrer"
                >{{ work.employer.name }}</a
              >{% else %}
              <span class="resume-work-employer-name">{{ work.employer.name }}</span>
              {% endif%} {% endif %}
            </h2>

            <section class="resume-work-infos">
              <span class="resume-work-timeframe">
                <img
                  class="resume-work-timeframe-icon"
                  src="../../node_modules/@fortawesome/fontawesome-free/svgs/regular/calendar-alt.svg"
                />
                <span class="resume-work-timeframe-text">
                  <time datetime="{{ work.timeframe.start }}">{{ work.timeframe.start | date_format }}</time>&nbsp;→ {%
                  if work.timeframe.end %}
                  <time datetime="{{ work.timeframe.end }}">{{ work.timeframe.end | date_format }}</time>
                  {% else %} present {% endif %}
                </span>
              </span>

              {% if work.employer.location %}
              <span class="resume-work-employer-location">
                <img
                  class="resume-work-employer-location-icon"
                  src="../../node_modules/@fortawesome/fontawesome-free/svgs/solid/map-marker-alt.svg"
                />
                <span class="resume-work-employer-location-text">{{ work.employer.location }}</span>
              </span>
              {% endif %}
            </section>
            {% if work.keywords|length %}
            <ul class="resume-work-keywords">
              {% for keyword in work.keywords %}
              <li class="resume-work-keyword">{{ keyword }}</li>
              {% endfor %}
            </ul>
            {% endif %} {% if work.summary|length %}
            <section class="resume-work-summary">
              {% for paragraph in work.summary %}
              <p>{{ paragraph }}</p>
              {% endfor %}
            </section>
            {% endif %}
          </article>
          {% endfor %}
        </article>
      </section>

      <section class="resume-section-skills">
        <header class="resume-section-top">
          <h1>Skills</h1>
        </header>
        <article class="resume-skills">
          {% for skill in resume.skills %}
          <article class="resume-skill">
            <h2>
              <span class="resume-skill-name">{{ skill.name }}</span>&nbsp;·
              <span class="resume-skill-keywords">{{ skill.keywords|join(', ') }}</span>
            </h2>
          </article>
          {% endfor %}
        </article>
      </section>

      <section class="resume-section-languages">
        <header class="resume-section-top">
          <h1>Languages</h1>
        </header>
        <article class="resume-languages">
          {% for language in resume.languages %}
          <article class="resume-language">
            <h2>
              <span class="resume-language-name">{{ language.language }}</span>&nbsp;·
              <span class="resume-language-fluency">{{ language.fluency }}</span>
            </h2>
          </article>
          {% endfor %}
        </article>
      </section>

      <section class="resume-section-education">
        <header class="resume-section-top">
          <h1>Education</h1>
        </header>
        <article class="resume-education">
          {% for educationItem in resume.education %}
          <article class="resume-education-item">
            <h2>
              <span class="resume-education-institution-name">{{ educationItem.institution.name }}</span>
              {%- if educationItem.degree.major %}&nbsp;·
              <span class="resume-education-degree-major">{{ educationItem.degree.major }}</span>
              {% endif %}
            </h2>

            <section class="resume-education-infos">
              <span class="resume-education-timeframe">
                <img
                  class="resume-education-timeframe-icon"
                  src="../../node_modules/@fortawesome/fontawesome-free/svgs/regular/calendar-alt.svg"
                />
                <span class="resume-education-timeframe-text">
                  <time datetime="{{ educationItem.timeframe.start }}"
                    >{{ educationItem.timeframe.start | date_format('yyyy') }}</time
                  >&nbsp;→ {% if educationItem.timeframe.end %}
                  <time datetime="{{ educationItem.timeframe.end }}"
                    >{{ educationItem.timeframe.end | date_format('yyyy') }}</time
                  >
                  {% else %} present {% endif %}
                </span>
              </span>

              {% if educationItem.degree.name %}
              <span class="resume-education-degree-name">
                <img
                  class="resume-education-degree-name-icon"
                  src="../../node_modules/@fortawesome/fontawesome-free/svgs/solid/graduation-cap.svg"
                />
                <span class="resume-education-degree-name-text">{{ educationItem.degree.name }}</span>
              </span>
              {% endif %} {% if educationItem.summary|length %}
              <section class="resume-education-summary">
                {% for paragraph in educationItem.summary %}
                <p>{{ paragraph }}</p>
                {% endfor %}
              </section>
              {% endif %}
            </section>
          </article>
          {% endfor %}
        </article>
      </section>
    </main>
  </article>
</body>
{% endblock %}
