{% extends "_partials/_base.html" %}{% block styles %}
<link href="../resume/index.css" rel="stylesheet" />
{% endblock styles %} {% block title %}<title>Eric Redon — Résumé</title>{% endblock title %}{% block body %}
<body class="coox-resume-container">
  <article class="coox-resume">
    <header class="coox-resume-header">
      <section class="coox-resume-header-top pure-g">
        <h1 class="pure-u-1 pure-u-sm-2-3">Éric Redon</h1>
        <ul class="coox-resume-header-social-networks pure-u-1 pure-u-sm-1-3">
          <li class="coox-resume-header-social-network">
            <a
              class="coox-resume-header-social-network-link"
              href="https://github.com/coox"
              title="Eric Redon (coox) on GitHub"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img
                class="coox-resume-header-social-network-icon"
                src="../../node_modules/@fortawesome/fontawesome-free/svgs/brands/github.svg"
              />
            </a>
          </li>
          <li class="coox-resume-header-social-network">
            <a
              class="coox-resume-header-social-network-link"
              href="https://stackoverflow.com/users/162086/coox"
              title="Eric Redon on Stack Overflow"
              target="_blank"
              rel="noopener noreferrer"
              ><img
                class="coox-resume-header-social-network-icon"
                src="../../node_modules/@fortawesome/fontawesome-free/svgs/brands/stack-overflow.svg"
            /></a>
          </li>
          <li class="coox-resume-header-social-network">
            <a
              class="coox-resume-header-social-network-link"
              href="https://twitter.com/coox"
              title="Eric Redon (coox) on Twitter"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img
                class="coox-resume-header-social-network-icon"
                src="../../node_modules/@fortawesome/fontawesome-free/svgs/brands/twitter.svg"
            /></a>
          </li>
          <li class="coox-resume-header-social-network">
            <a
              class="coox-resume-header-social-network-link"
              href="https://www.linkedin.com/in/ericredon/"
              title="Eric Redon on LinkedIn"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img
                class="coox-resume-header-social-network-icon"
                src="../../node_modules/@fortawesome/fontawesome-free/svgs/brands/linkedin.svg"
            /></a>
          </li>
        </ul>
      </section>
      <h2>Senior Full Stack Web Engineer</h2>
      <ul class="coox-resume-header-infos">
        <li class="coox-resume-header-info">
          <a
            class="coox-resume-header-info-link"
            href="mailto:eric.redon@coox.org"
            title="Send an e-mail"
            rel="noopener noreferrer"
          >
            <img
              class="coox-resume-header-info-icon"
              src="../../node_modules/@fortawesome/fontawesome-free/svgs/regular/envelope.svg"
            />
            <span class="coox-resume-header-info-text">eric.redon@coox.org</span>
          </a>
        </li>
        <li class="coox-resume-header-info">
          <a
            class="coox-resume-header-info-link"
            href="https://www.openstreetmap.org/relation/129423"
            title="Montreuil, France on OpenStreetMap"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img
              class="coox-resume-header-info-icon"
              src="../../node_modules/@fortawesome/fontawesome-free/svgs/solid/map-marker-alt.svg"
            />
            <span class="coox-resume-header-info-text">Montreuil, France</span>
          </a>
        </li>
        <li class="coox-resume-header-info">
          <a
            class="coox-resume-header-info-link"
            href="https://time.is/Montreuil"
            title="Montreuil (Europe/Paris) on Time.is"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img
              class="coox-resume-header-info-icon"
              src="../../node_modules/@fortawesome/fontawesome-free/svgs/regular/clock.svg"
            />
            <span class="coox-resume-header-info-text">Europe/Paris</span>
          </a>
        </li>
      </ul>
    </header>
    <main class="coox-resume-main pure-g"></main>
  </article>
</body>
{% endblock body %}
