{% set description = description or "Personal Website of Éric Redon, full-stack web engineer." %}
<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
  <!-- https://htmlhead.dev/ -->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% block title %}
    <title>coox.org</title>
    {% endblock title %}
    <meta name="description" content="{{ description }}" />
    <meta name="keywords" content="engineer,fullstack,web" />

    <!-- Microsoft Internet Explorer: Force IE 8/9/10 to use its latest rendering engine -->
    <meta http-equiv="x-ua-compatible" content="ie=edge" />

    <!-- Disable display of sitelinks searchbox in Google Search
         https://developers.google.com/search/docs/data-types/sitelinks-searchbox#prevent-sitelinks-search-box
    -->
    <meta name="google" content="nositelinkssearchbox" />
    <!-- Disable Google-provided translations of the document
         https://support.google.com/webmasters/answer/79812
    -->
    <meta name="google" content="notranslate" />

    <!-- Twitter Cards
         https://developer.twitter.com/en/docs/tweets/optimize-with-cards/guides/getting-started
    -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@coox" />
    <meta name="twitter:title" content="coox.org" />
    <meta name="twitter:description" content="{{ description }}" />

    <!-- Open Graph metadata
         https://ogp.me/#metadata
    -->
    <meta property="og:title" content="coox.org" />
    <meta property="og:description" content="{{ description }}" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.coox.org/" />

    {% block styles %} {% endblock styles %} {% block scripts %} {% endblock scripts %}
  </head>
  {% block body %}
  <body />
  {% endblock body %}
</html>
